.spin-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.spin-box .ant-spin {
    color: #ffffff;
}

.spin-box .ant-spin-dot-item {
    background-color: #ffffff;
}
