/* src/components/Layouts/UserLayout/index.css */
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    background-color: #001529; /* Ant Design's default dark color */
  }
  
  .site-layout-background {
    background: #fff;
  }
  