.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5;
  
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 32px;
  min-height: fit-content;
  height: fit-content;
  background-color: #fff;
  
}

.container-title {
  font-size: 36px;
  color: #000;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: left;
  cursor: pointer;
}

/* .card-bots {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  background-color: #ffeaea;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%;
  height: fit-content;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  position: relative;
} */

.card-bots:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.container-card-bots {
  border-radius: 12px;
  padding: 5px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s ease-in-out;
  height: fit-content;




}

.card-bots-title {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}



.card-bots-description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  height: 72px;
}

.card-image-cover img {
  width: 100%;
  height: min-content;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.action-button button {
  box-shadow: none;
  border-radius: 0;
  border-color: #fff;
}


ant-card .ant-card-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  border-top: 1px solid #f0f0f0;
  display: flex;
  border-radius: 0 0 40px 40px;
}

.chip-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.chip {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 16px;
  color: #000;
  font-size: 14px;
  border: 2px solid #2196f3;
  /* Default border color for chips */
  background-color: #fff;
  font-weight: bold;
}

.chip.active {
  border-color: #8eff92;
  align-content: center;
  /* Green border for active */
}

.chip.inactive {
  border-color: #f44336;
  align-content: center;
  text-align: center;

  /* Red border for inactive */
}

.chip.messages {
  border-color: #b2dafa;
  align-content: center;
  text-align: center;
}

.chip.expiry {
  border-color: #ffd28f;
  align-content: center;
  text-align: center;

  /* Orange border for expiry date */
}
.ant-card {
  background: antiquewhite;
  transition: transform 0.2s ease-in-out;
  width:fit-content;
  height: fit-content;
}
.card-bots-actions {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}